name: unit testing
run-name: unit tests

on: push

jobs:
  All-tests:
    name: All tests (${{ matrix.os }}, Python ${{ matrix.python-version }})

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    defaults:
      run:
        working-directory: testing

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Unzip manifest2 archive
        run: unzip manifests2/archive2.zip -d manifests2

      - name: Unzip manifest3 archive
        run: unzip manifests3/archive3.zip -d manifests3

      - name: Run all tests
        run: python3 test_all.py
