name: unit testing
run-name: unit tests

on: push

jobs:
  All-tests:
    name: All tests (${{ matrix.os }}, Python ${{ matrix.python-version }})

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    env:
      DISPLAY: ":99.0"

    defaults:
      run:
        working-directory: testing

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Unzip manifest archives
        run: |
          unzip manifests2/archive2.zip -d manifests2
          unzip manifests3/archive3.zip -d manifests3

      - name: Run all tests
        run: python3 test_all.py

      - name: Install Xvfb display for GUI tests
        run: |
          sudo apt-get install -y xvfb
          sudo Xvfb $DISPLAY -screen 0 1280x1024x24 &

      - name: Run all GUI tests
        run: python3 test_gui_all.py
